.SearchBarContainer {
  background-image: url("../assets/backgroundImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 138px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 120px;
  @media (max-width : 800px ) {
    padding: 20px;
  }
}
